<!-- Privacy Beleid Modal -->
<div id="privacyModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Juridisch Document voor Websitegebruik</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <div class="legal-content">
        <p><strong>Geldt voor: {{ shop.name }}</strong><br>
        <strong>Laatste update: 19-06-2025</strong></p>

        <h3>1. Privacyverklaring</h3>
        <p>{{ shop.name }} respecteert de privacy van alle gebruikers van haar website en draagt er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.</p>
        
        <h4>1.1 Gegevens die wij verzamelen</h4>
        <ul>
          <li>Naam, e-mailadres, telefoonnummer</li>
          <li>Factuurgegevens en betaalgegevens</li>
          <li>IP-adres en browsergegevens</li>
          <li>Gebruiksdata (bijv. paginaweergaves, aankopen)</li>
        </ul>
        
        <h4>1.2 Doeleinden</h4>
        <ul>
          <li>Verwerken van bestellingen en betalingen</li>
          <li>Verbeteren van de website en klantbeleving</li>
          <li>Verzenden van updates of marketing (na toestemming)</li>
        </ul>
        
        <h4>1.3 Rechtsgrond</h4>
        <ul>
          <li>Uitvoering van een overeenkomst</li>
          <li>Wettelijke verplichting</li>
          <li>Toestemming (voor bijv. marketing)</li>
          <li>Gerechtvaardigd belang (bijv. beveiliging)</li>
        </ul>
        
        <h4>1.4 Bewaartermijn</h4>
        <p>Persoonsgegevens worden niet langer bewaard dan noodzakelijk is, conform wettelijke bewaartermijnen.</p>
        
        <h4>1.5 Delen met derden</h4>
        <ul>
          <li>Betrouwbare verwerkers zoals betalingsproviders, hostingdiensten en nieuwsbrieftools</li>
          <li>Alleen als dat nodig is voor dienstverlening of om te voldoen aan wettelijke verplichtingen</li>
        </ul>
        
        <h4>1.6 Beveiliging</h4>
        <p>SSL-beveiliging, beperkte toegang, en versleuteling van gevoelige data</p>
        
        <h4>1.7 Rechten van betrokkenen</h4>
        <p>Recht op inzage, correctie, verwijdering, bezwaar en dataportabiliteit<br>
        Verzoeken kunnen worden gestuurd naar: contact@musicado.nl</p>
        
        <h4>1.8 Internationale doorgifte</h4>
        <p>Als gegevens buiten de EU worden verwerkt, zorgen wij voor adequate bescherming via bijvoorbeeld EU-standaardcontracten.</p>

        <h3>2. Cookieverklaring</h3>
        
        <h4>2.1 Wat zijn cookies?</h4>
        <p>Cookies zijn kleine tekstbestanden die op uw apparaat worden geplaatst wanneer u onze website bezoekt.</p>
        
        <h4>2.2 Soorten cookies die wij gebruiken</h4>
        <ul>
          <li>Functionele cookies (noodzakelijk)</li>
          <li>Analytische cookies (bijv. Google Analytics)</li>
          <li>Marketing/tracking cookies (alleen met toestemming)</li>
        </ul>
        
        <h4>2.3 Cookiebanner</h4>
        <p>Bij eerste bezoek vragen wij om toestemming voor niet-noodzakelijke cookies. U kunt uw voorkeuren altijd aanpassen via de instellingen.</p>
        
        <h4>2.4 Cookiebeheer</h4>
        <p>U kunt cookies verwijderen of blokkeren via uw browserinstellingen.</p>

        <h3>3. Disclaimer</h3>
        <p>De inhoud van deze website is met de grootst mogelijke zorg samengesteld. Toch aanvaardt {{ shop.name }} geen aansprakelijkheid voor onjuistheden of onvolledigheden.</p>
        <ul>
          <li>Informatie en prijzen op deze site kunnen op elk moment worden aangepast.</li>
          <li>Er kunnen geen rechten worden ontleend aan de inhoud van deze site.</li>
          <li>{{ shop.name }} is niet verantwoordelijk voor inhoud van externe links.</li>
        </ul>

        <h3>4. Algemene Voorwaarden</h3>
        
        <h4>4.1 Identiteit van de ondernemer</h4>
        <p>{{ shop.name }}<br>
        [Adres]<br>
        KvK: [KvK nummer]<br>
        BTW: [BTW nummer]<br>
        E-mail: contact@musicado.nl</p>
        
        <h4>4.2 Toepasselijkheid</h4>
        <p>Deze algemene voorwaarden zijn van toepassing op elk aanbod van {{ shop.name }} en op elke tot stand gekomen overeenkomst.</p>
        
        <h4>4.3 Aanbod en overeenkomst</h4>
        <ul>
          <li>Producten worden duidelijk en volledig omschreven.</li>
          <li>De overeenkomst komt tot stand bij aanvaarding van het aanbod en betaling.</li>
        </ul>
        
        <h4>4.4 Prijzen</h4>
        <ul>
          <li>Alle prijzen zijn inclusief btw, tenzij anders vermeld.</li>
          <li>Kennelijke fouten zijn niet bindend.</li>
        </ul>
        
        <h4>4.5 Herroepingsrecht (consumenten)</h4>
        <ul>
          <li>U heeft 14 dagen bedenktijd zonder opgave van reden.</li>
          <li>De termijn gaat in op de dag na levering.</li>
          <li>Bij digitale producten geldt dat het herroepingsrecht vervalt zodra het product is gedownload en u daarvoor expliciet toestemming hebt gegeven.</li>
        </ul>
        
        <h4>4.6 Levering en uitvoering</h4>
        <ul>
          <li>Levering vindt plaats digitaal of fysiek, zoals overeengekomen.</li>
          <li>Termijnen zijn indicatief.</li>
        </ul>
        
        <h4>4.7 Klachtenregeling</h4>
        <ul>
          <li>Klachten dienen binnen 7 dagen na constatering te worden gemeld.</li>
          <li>Wij streven ernaar klachten binnen 14 dagen te behandelen.</li>
        </ul>
        
        <h4>4.8 Aansprakelijkheid</h4>
        <p>{{ shop.name }} is niet aansprakelijk voor indirecte schade tenzij wettelijk verplicht.</p>
        
        <h4>4.9 Toepasselijk recht</h4>
        <ul>
          <li>Op alle overeenkomsten is Nederlands recht van toepassing.</li>
          <li>Geschillen worden voorgelegd aan de bevoegde rechter in het arrondissement van {{ shop.name }}.</li>
        </ul>

        <p><strong>Voor vragen kunt u contact opnemen via: contact@musicado.nl</strong></p>
      </div>
    </div>
  </div>
</div>
